<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>stomp</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body id="app">
    <div>
        <input type="text" id="roomName" placeholder="채팅방 이름을 입력하세요">
        <button type="button" onclick="createRoom()">채팅방 생성</button>
    </div>

    <script inline="javascript">
        async function createRoom() {
            const nameInput = document.getElementById('roomName');
            const roomName = nameInput.value;

            try {
                const response = await fetch('/chat/create', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ name: roomName })
                });

                if (response.ok) {
                    const roomId = await response.text();

                    window.location.href = `/chat-room/${roomId}`;
                } else {
                    alert("방 생성 실패!");
                }
            } catch (error) {
                console.error("Error:", error);
                alert("서버 통신 중 오류가 발생했습니다.");
            }
        }
    </script>
</body>

</html>