spring:
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            redirect-uri: "https://reimagined-orbit-4jg7r59p5qv6hjxgx-8080.app.github.dev/login/oauth2/code/google"

          facebook:
            client-id: ${FACEBOOK_CLIENT_ID}
            client-secret: ${FACEBOOK_CLIENT_SECRET}
            redirect-uri: "https://reimagined-orbit-4jg7r59p5qv6hjxgx-8080.app.github.dev/login/oauth2/code/facebook"

          kakao:
            client-id: ${KAKAO_CLIENT_ID}
            client-secret: ${KAKAO_CLIENT_SECRET}
            redirect-uri: "https://reimagined-orbit-4jg7r59p5qv6hjxgx-8080.app.github.dev/login/oauth2/code/kakao"