spring:
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}

            redirect-uri: "https://localhost:8080/login/oauth2/code/google"

          kakao:
            client-id: ${KAKAO_CLIENT_ID}
            client-secret: ${KAKAO_CLIENT_SECRET}

            redirect-uri: "https://localhost:8080/login/oauth2/code/kakao"

            authorization-grant-type: authorization_code
            client-authentication-method: client_secret_post
            
            scope:
              - openid       
              - account_email
              - profile_image

        provider:
          kakao:
            issuer-uri: https://kauth.kakao.com