services:
  rabbitmq:
    container_name: local-rabbitmq
    image: rabbitmq:4-management
    ports:
      - "5672:5672"
      - "15672:15672"
      - "61613:61613"
    environment:
      RABBITMQ_DEFAULT_USER: localuser
      RABBITMQ_DEFAULT_PASS: localpass
    command: >
      sh -c "rabbitmq-plugins enable --offline rabbitmq_stomp && rabbitmq-server"
  redis:
    container_name: local-redis
    image: redis/redis-stack:7.4.0-v8
    ports:
      - "6379:6379"
      - "8001:8001"
  mysql:
    image: mysql:8.4
    container_name: local-mysql
    ports:
      - "3306:3306"
    environment:
      MYSQL_DATABASE: localdb
      MYSQL_USER: localuser
      MYSQL_PASSWORD: localpass
      MYSQL_ROOT_PASSWORD: rootpass
    command:
      - --character-set-server=utf8mb4